.App {
  width: 100vw;
  height: 100%;
  background-color: #18001D;
}
a{
  text-decoration: none;
}
button{
  width: auto;
  height: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.AppContainer{
  width: 100vw;
  height: 100vh;
  color: #18001D;
  position: relative;
}
.Loading {
  height: 100%;
  width: 100%;
  background-color: #18001D;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
.follow{
  position: absolute;
  background-color: #f48049;
  height: 2px;
  width: 0;
  left: 0;
  z-index: 2;
}
.progress-bar {
  position: absolute;
  left: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.4s ease-out;
}
#count {
  position: absolute;
  font-size: 130px;
  color: #fff;
  transform: translateY(-15px);
  font-weight: 500;
}
.content {
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
  padding: auto;

  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
}
.content  p{
  text-align: center;
    font-size: 104px;
    opacity: 0;
    display: none;
    font-weight: 500;
    margin: 0;

}
section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}